.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
    font-family: 'Russo One', sans-serif !important;
    width: 100%;
    background: url(../public/wp.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
}

.logo-data {
  height: 100px;
  width:100px;
  margin-top: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.right-data {
  float: right !important
}
.content-mid {
  text-align: center;
  padding-bottom: 20px;
  
}

.data-group{
  max-width: 50%;
  margin-left: 25%;
}

.slogan {
  padding-top: 80px
}

h1 {
  color: #48d5f3!important
}

.panel {
  background-color: rgba(75, 14, 5, 0.21) !important;
  padding: 15px !important;
  margin-right: 10px !important;
  border: none !important; 
}
.panel-body  {
  color: rgb(217, 217, 217) !important;
}

.panel-info>.panel-heading{
  background-color: rgba(28, 28, 28, 0.56) !important;
  color: rgba(123, 237, 255, 0.91) !important;
  margin-top: 7px !important;
  border-color:#905353 !important

}

@media (min-width: 992px)
{
.col-md-4 {
  width: 31.33333333% !important;
 }

}

.label {
  color: #222222;
    font-size: 1.1em;
}

.form-control {
  color: white !important;
  background-color:rgba(255, 255, 255, 0.1) !important;
}
.btn-default {
  color: white !important;
  background-color:rgba(255, 255, 255, 0.1) !important;
}

.form-inline{
  float: right !important;
  margin-top: 20px;
}
.data-h2 {
  float: left;
}